.Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Logo img {
    width: 148px;
    height: 38px;
}

@media screen and (max-width: 500px) {
    .Logo img {
        width: 110px;
        height: 31px;
        margin-top: 3px;
    }
}