.Profile::-webkit-scrollbar {
    width: 0;
}

.Profile_title_container {
    flex: none;
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #22242B;
}
.Profile_title {
    font-family: TT Supermolot Neue;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 121%;
    color: #f5f7fa; 
}
.Profile_info_wrapper {
    margin-top: 0px;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #22242B;
}
.Profile_avatar_container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(245,247,250,.1);
    border-radius: 500px;
    margin-right: 24px;
}

.Profile_avatar_container img {
    width: 160px;
    height: 160px;
    border-radius: 500px;
}


.Profile_info_wallet {
    font-family: TT Supermolot Neue;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 121%;
    display: flex;
    align-items: center;
    color: #f5f7fa99;
}

.Profile_wrapper {
    border-bottom: 1px solid #22242B;
    margin-top: 20px;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.Profile_order_item_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Profile_order_item_container p {
    color: #f5f7fa99;
}

@media screen and (max-width: 769px) {
    .Profile {
        min-width: 100vw;
        max-width: 100vw;
        border-left: none;
        right: -100vw;
        transition: all 1s;
    }
}

@media screen and (max-width: 500px) {
    .Profile_wrapper {
        padding: 15px 25px 15px 10px;
    }
    .Profile_order_item_container {
        gap: 20px;
    }
}