.Card_name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #979797;
}
.Card_name_active {
    color: #FFCC15;
    font-weight: 700;
}

.swiper-slide {
    min-width: 170px !important;
    max-width: 250px !important;
}

@media screen and (max-width: 1200px) {
    .swiper {
        width: 2500px !important;
    }
}

