.Card {
    border-radius: 3px;
    display: flex;
    background: #22242B;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    height: 68px;
}

.Card_img {
    width: 50px;
}

.Card_name {
    width: 165px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #979797;
}

/* .Card_data_container {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.Card_data_price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

.smallLetter {
    font-size: 80%;
    font-weight: 600;
}
.bigLetter {
    font-weight: 600;
} */
