.Header {
    position: relative;
    z-index: 1;
    transform: scale(0.8);
}

.Header_container {
    padding-bottom: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.header_btns_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    position: relative;
}

.Header_links_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.Header_links_item {
    font-weight: 600;
    font-size: 15px;
    line-height: 121%;
    letter-spacing: .80px !important;
    color: #f5f7fa;
    text-decoration: none;
    white-space: nowrap;
    opacity: .6;
    transition: all .15s ease-in;
    cursor: pointer;
}
.Header_links_item:hover {
    opacity: 1;
}
@media screen and (max-width: 1200px) {
    .Header_links_container {
        gap: 18px;
    }
}
@media screen and (max-width: 800px) {
    .Header {
        transform: scale(1);
    }
    .Header_links_container {
       display: none;
    }
}
@media screen and (max-width: 500px) {
    .header_btns_container {
        gap: 10px;
    }
    .header_cart_quantity {
        right: -5px !important;
    }
}

.showBasket {
    right: 0 !important;
}
.showProfile {
    right: 0px !important;
}
