.CardsList {
    position: relative;
    z-index: 0;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.CardsList_nav {
    max-width: 1440px;
    width: 100%;
    height: 102px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #22242B;
    padding: 25px 0 10px 16px;
    gap: 12px;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: auto 0;
}
.CardsList_nav::-webkit-scrollbar {
    width: 0;
}
@media screen and (max-width: 1300px) {
    .CardsList {
        /* padding: 60px 110px;  */
    }
}

@media screen and (max-width: 901px) {
    .CardsList {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1200px) {
    .CardsList {
        /* padding: 60px 98px;  */
    }
}

@media screen and (max-width: 500px) {
    .CardsList {
        /* padding: 60px 0px;  */
    }
}
