.wallet-adapter-button-trigger {
    background-color: #4f46e5 !important;
    height: 42px!important;
    width: 110px !important;
    font-size: 14px !important;
    white-space: nowrap !important;
    padding: 0 10px!important;
    font-size: 14px!important;
    border-radius: 9px!important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
}

.wallet-adapter-button-trigger:hover {
    background-color: #4338ca !important;
}